.title-logo {
	height: 24px;
	margin: -6px 8px 0 12px;
}

.nav-item * {
	font-size: 0.875rem;
}

.danger-zone {
	border-radius: 4px;
}

@media (prefers-reduced-motion: no-preference) {
  .title-logo {
    animation: clockwise-spin infinite 20s linear;
  }
}

@keyframes clockwise-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
